{% load static %}

<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

<head>
	<title>ART</title>
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.JPG' %}">
</head>

<body style="background-color:rgb(44, 44, 44);">
    <div>


        <h1>pedestrianlight</h1>


        <img src="{% static 'images/DSC_0175_square.JPG' %}" class="center">

        <img src="{% static 'images/intoTheOcean.jpg' %}" class="center">


        <img src="{% static 'images/undergroundWind.jpg' %}" class="center_portrait">

        <img src="{% static 'images/IMG_1192.jpg' %}" class="center">
        <img src="{% static 'images/IMG_1188.jpg' %}" class="center">

        <img src="{% static 'images/IMG_1189.jpg' %}" class="center_portrait">
        <img src="{% static 'images/IMG_1190.jpg' %}" class="center_portrait">
        <img src="{% static 'images/IMG_1193.jpg' %}" class="center_portrait">

        <img src="{% static 'images/IMG_3574.JPG' %}" class="center_portrait">
        <img src="{% static 'images/IMG_9265.JPG' %}" class="center">

        <img src="{% static 'images/Untitled_Artwork.JPG' %}" class="center">

        <img src="{% static 'images/DSC_0175.JPG' %}" class="center_portrait">

        <img src="{% static 'images/IMG_3824.jpg' %}" class="center">

        <h2>&copy; pedestrianlight</h2>

    </div>
</body>